/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/css/*
!public/css/.gitkeep
/public/lib/*
!public/lib/.gitkeep
/public/data/*
!public/data/.gitkeep
/public/fonts/*
!public/fonts/.gitkeep
/public/img/*
!public/img/.gitkeep
/public/js/*
!public/js/.gitkeep
